# IDE - настройки WebStorm / VS Code
.idea/
.vscode/
*.swp
*.iml

# Зависимости (если начнешь использовать npm)
node_modules/
package-lock.json

# Логи и системные файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
thumbs.db

# Сборка (на будущее, если добавишь Webpack/Vite)
dist/
build/
